omegaconf
segment_anything
docstring_parser
timm
rich_argparse
python-dotenv
hydra-core
wandb
monai
pandas
einops
SimpleITK
opencv-python
dinov2
simple-parsing
scikit-learn 
scikit-image 
h5py
loralib
ml_collections